# Final Project

Pulled data from:

In [62]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns
file_name = 'seattle-crime-stats-by-police-precinct-2008-present.csv'
crime_df = pd.read_csv(file_name)
crime_df['REPORT_DATE'] = pd.to_datetime(crime_df['REPORT_DATE'])
crime_df.head(24)

,Police Beat,CRIME_TYPE,CRIME_DESCRIPTION,STAT_VALUE,REPORT_DATE,Sector,Precinct,Row_Value_ID
0,R2,Rape,Rape,1,2014-04-30,R,SE,27092
1,K2,Assault,Assault,5,2014-04-30,K,W,26506
2,M2,Homicide,Homicide,1,2014-04-30,M,W,27567
3,C3,Robbery,Robbery,2,2014-04-30,C,E,26225
4,E2,Motor Vehicle Theft,"Vehicle Theft is theft of a car, truck, motorc...",7,2014-04-30,E,E,26368
5,S3,Burglary,Burglary,11,2014-04-30,S,SE,27237
6,G3,Assault,Assault,1,2014-04-30,G,E,26422
7,R3,Homicide,Homicide,0,2014-04-30,R,SE,27119
8,O1,Rape,Rape,1,2014-04-30,O,SE,26588
9,W3,Burglary,Burglary,6,2014-04-30,W,SW,27349
10,D2,Burglary,Burglary,14,2014-04-30,D,W,26257
11,S2,Motor Vehicle Theft,"Vehicle Theft is theft of a car, truck, motorc...",10,2014-04-30,S,SE,27208
12,L1,Motor Vehicle Theft,"Vehicle Theft is theft of a car, truck, motorc...",10,2014-04-30,L,N,26704
13,U1,Motor Vehicle Theft,"Vehicle Theft is theft of a car, truck, motorc...",10,2014-04-30,U,N,26844
14,K3,Assault,Assault,7,2014-04-30,K,W,26534
15,Q3,Robbery,Robbery,1,2014-04-30,Q,W,27513
16,U1,Homicide,Homicide,0,2014-04-30,U,N,26839
17,N2,Rape,Rape,0,2014-04-30,N,N,26812
18,E2,Homicide,Homicide,0,2014-04-30,E,E,26363
19,W2,Rape,Rape,0,2014-04-30,W,SW,27288
20,O3,Assault,Assault,3,2014-04-30,O,SE,27150
21,K2,Robbery,Robbery,7,2014-04-30,K,W,26505
22,F1,Larceny-Theft,Larceny-Theft,18,2014-04-30,F,SW,27319
23,F1,Homicide,Homicide,0,2014-04-30,F,SW,27315

In [88]:
f_name = 'weather_description.csv'
weather_df = pd.read_csv(f_name)
weather_df['datetime'] = pd.to_datetime(weather_df['datetime'])
weather_df.drop(weather_df.columns.difference(['datetime','Seattle']), 1, inplace=True)
weather_df = (weather_df.set_index('datetime').groupby('Seattle')
                    .resample('D').count().unstack('Seattle'))
weather_df

                 Seattle                                                      \
Seattle    broken clouds drizzle few clouds fog haze heavy intensity drizzle
datetime
2012-10-01           NaN     NaN        5.0 NaN  NaN                     NaN
2012-10-02           5.0     NaN        0.0 NaN  NaN                     NaN
2012-10-03           6.0     NaN        2.0 NaN  NaN                     NaN
2012-10-04           0.0     NaN        0.0 NaN  NaN                     NaN
2012-10-05           0.0     NaN        0.0 NaN  NaN                     NaN
...                  ...     ...        ...  ..  ...                     ...
2017-11-26           0.0     NaN        0.0 NaN  NaN                     NaN
2017-11-27           6.0     NaN        0.0 NaN  NaN                     NaN
2017-11-28           2.0     NaN        0.0 NaN  NaN                     NaN
2017-11-29           2.0     NaN        0.0 NaN  NaN                     NaN
2017-11-30           NaN     NaN        1.0 NaN  NaN                     NaN

                                                                        \
Seattle    heavy intensity rain heavy intensity shower rain heavy snow
datetime
2012-10-01                  NaN                         NaN        NaN
2012-10-02                  NaN                         NaN        NaN
2012-10-03                  NaN                         NaN        NaN
2012-10-04                  NaN                         NaN        NaN
2012-10-05                  NaN                         NaN        NaN
...                         ...                         ...        ...
2017-11-26                  NaN                         NaN        NaN
2017-11-27                  NaN                         NaN        NaN
2017-11-28                  NaN                         NaN        NaN
2017-11-29                  NaN                         NaN        NaN
2017-11-30                  NaN                         NaN        NaN

                                    ...                                      \
Seattle    light intensity drizzle  ... shower rain sky is clear smoke snow
datetime                            ...
2012-10-01                     NaN  ...         NaN          5.0   NaN  NaN
2012-10-02                     NaN  ...         NaN         10.0   NaN  NaN
2012-10-03                     NaN  ...         NaN         10.0   NaN  NaN
2012-10-04                     NaN  ...         NaN         23.0   NaN  NaN
2012-10-05                     NaN  ...         NaN         24.0   NaN  NaN
...                            ...  ...         ...          ...   ...  ...
2017-11-26                     7.0  ...         NaN          NaN   NaN  NaN
2017-11-27                     5.0  ...         NaN          NaN   NaN  NaN
2017-11-28                     8.0  ...         NaN          NaN   NaN  NaN
2017-11-29                     NaN  ...         NaN          NaN   NaN  NaN
2017-11-30                     NaN  ...         NaN          NaN   NaN  NaN

                                                              \
Seattle    squalls thunderstorm thunderstorm with heavy rain
datetime
2012-10-01     NaN          NaN                          NaN
2012-10-02     NaN          NaN                          NaN
2012-10-03     NaN          NaN                          NaN
2012-10-04     NaN          NaN                          NaN
2012-10-05     NaN          NaN                          NaN
...            ...          ...                          ...
2017-11-26     NaN          NaN                          NaN
2017-11-27     NaN          NaN                          NaN
2017-11-28     NaN          NaN                          NaN
2017-11-29     NaN          NaN                          NaN
2017-11-30     NaN          NaN                          NaN


Seattle    thunderstorm with light rain thunderstorm with rain very heavy rain
datetime
2012-10-01                          NaN                    NaN             NaN
2012-10-02                          NaN                    NaN             NaN
2012-10-03                          NaN                    NaN             NaN
2012-10-04                          NaN                    NaN             NaN
2012-10-05                          NaN                    NaN             NaN
...                                 ...                    ...             ...
2017-11-26                          NaN                    NaN             NaN
2017-11-27                          NaN                    NaN             NaN
2017-11-28                          NaN                    NaN             NaN
2017-11-29                          NaN                    NaN             NaN
2017-11-30                          NaN                    NaN             NaN

[1887 rows x 29 columns]