# Final Project

Pulled data from:

* Read in Seattle Crime Dataset

In [1]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns
file_name = 'SPD_Reports.csv'
crime_df = pd.read_csv(file_name)

* Drop Irrelevant Columns ('Offense Type', 'Offense End Date', 'Block', 'Beat', '2000 Census Tract', 'Longitude',     'Latitude', 'Report Date')

* Reorder Columns to read 'Offense Start Date' -> 'Offense Description' -> 'District'

* Rename 'Offense Start Date' to 'Offense Date'; just for readability

In [2]:
crime_df=crime_df.drop(columns=['Offense Type', 'Offense End Date', 'Block', 'Beat', '2000 Census Tract', 'Longitude', 'Latitude', 'Report Date'])
crime_df = crime_df[['Offense Start Date', 'Offense Description', 'District']]
crime_df.rename(columns = {'Offense Start Date':'Offense Date'}, inplace = True)

* Convert 'Offense Date' to datetime
* Sort crime_df by ascending date (2007 - 2016(

In [3]:
crime_df['Offense Date'] = pd.to_datetime(crime_df['Offense Date'])
crime_df = crime_df.sort_values(by='Offense Date')

* Read in dataset from "Did in rain in Seattle?" 

* Convert Date feature to datetime object

* Convert Rain feature to bool object

In [4]:
f_name = 'seattleWeather_1948-2017.csv'
weather_df = pd.read_csv(f_name)
weather_df['DATE'] = pd.to_datetime(weather_df['DATE'])
weather_df['RAIN'] = weather_df['RAIN'].astype('bool')

* Filter both the crime_df and weather_df by year (2007 - 2016)

In [5]:
weather_df = weather_df[(weather_df['DATE'].dt.year >= 2007) & 
                        ((weather_df['DATE'].dt.year <= 2016) & (weather_df['DATE'].dt.month <= 9) & (weather_df['DATE'].dt.day <= 19))]
crime_df = crime_df[(crime_df['Offense Date'].dt.year >= 2007) & 
                    ((crime_df['Offense Date'].dt.year <= 2017))]

* crime_df['Offense Date'] had a time value attached to it; first line of code just drops the time but keeps the date (So that it's easier to work with the weather_df)

* Index of crime_df is changed to the date of incident

* Index of weather_df is also changed to the date feature 

* Join the two dataframes together according to index (the date) 

    So if the dates match, the values from weather_df are assigned correctly

In [7]:
crime_df['Offense Date'] = crime_df['Offense Date'].dt.date
crime_df = crime_df.set_index('Offense Date')
weather_df = weather_df.set_index('DATE')
new_crime_df = crime_df.join(weather_df, lsuffix='_caller', rsuffix='_other')

In [8]:
new_crime_df

           Offense Description District  PRCP  TMAX  TMIN  RAIN
2007-01-01               FRAUD        F  0.41  48.0  34.0  True
2007-01-01       VEHICLE THEFT        J  0.41  48.0  34.0  True
2007-01-01               FRAUD        F  0.41  48.0  34.0  True
2007-01-01      OTHER PROPERTY        G  0.41  48.0  34.0  True
2007-01-01               FRAUD        E  0.41  48.0  34.0  True
...                        ...      ...   ...   ...   ...   ...
2016-09-19             ASSAULT        C  0.08  68.0  53.0  True
2016-09-19      OTHER PROPERTY        U  0.08  68.0  53.0  True
2016-09-19         SHOPLIFTING        L  0.08  68.0  53.0  True
2016-09-19             ASSAULT        U  0.08  68.0  53.0  True
2016-09-19             ASSAULT        E  0.08  68.0  53.0  True

[683720 rows x 6 columns]